{% extends 'base.html' %}
{% block content %}

<h2 class="heading-primary">Skills</h2>

<div class="main--container">
  {% if skills.count %}
  <div class="table-body">
    <table class="table">
      <thead>
        <tr>
          <th>Skill</th>
          <th>Type</th>
          <th>Notes</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for skill in skills %}
          <tr>
            <td>{{ skill.name }}</td>
            <td>{{ skill.get_type_display }}</td>
            <td>{{ skill.description }}</td>
            {% if skill.user.id == user.id %}
              <td><a href="{% url 'skills_update' skill.id %}" class="link-primary">Edit</a></td>
              <td><a href="{% url 'skills_delete' skill.id %}" class="link-danger">Delete</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h3>You have no skills added.</h3>
  {% endif %}

<!-- Add Contact Form -->
<div class="form-box">
  <h2 class="heading-secondary">Add New Skill</h2>
    <form class="form--new" action="{% url 'skills_create' %}" method="POST">
      {% csrf_token %}
      {{ skills_form.as_p }}
      <input type="submit" class="btn btn-primary form-btn" value="Add Skill">
    </form>
</div>  

</div>
{% endblock %}