{% extends 'base.html' %}
{% block content %}

<!-- Add Contact Form -->
<div class="card mt-4 mb-4">
    <div class="card-body">
      <form action="{% url 'skills_create' %}" method="POST">
        {% csrf_token %}
        {{ skills_form.as_p }}
        <input type="submit" class="btn btn-secondary" value="Add Skill">
      </form>
    </div>
</div>  




<div class="card mb-4">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Skill</th>
          <th>Type</th>
          <th>Notes</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for skill in skills %}
          <tr>
            <td>{{ skill.name }}</td>
            <td>{{ skill.get_type_display }}</td>
            <td>{{ skill.description }}</td>
            {% if skill.user.id == user.id %}
              <td><a href="{% url 'skills_update' skill.id %}" class="link-primary">Edit</a></td>
              <td><a href="{% url 'skills_delete' skill.id %}" class="link-danger">Delete</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}