{% extends 'base.html'%}
{% block content %}

<h2 class="heading-primary"> Experience </h2>
<div class="main--container">

  <!-- Experience Form -->
  <div class="form-box">
    <h2 class="heading-secondary">Add New Experience</h2>
    <form class="form--new" action="{% url 'experiences_create' %}" method="POST">
      {% csrf_token %}
      {{ experiences_form.as_p }}
      <input type="submit" class="btn btn-primary form-btn" value="Add experience">
    </form>
</div>
  
  
  {% for experience in experiences %}
  <div class="card-box">
    <div class="card-body">
      <h2 class="heading-secondary">{{ experience.workplace }}</h2>
      <div class="card-text">
        <p class="card-text--title">Title:</p> 
        <p class="card-text--detail">{{ experience.workplace }}</p>
      </div>
      <div class="card-text">
        <p class="card-text--title">Location:</p> 
        <p class="card-text--detail">{{ experience.location }}</p>
      </div>
      <div class="card-text">
        <p class="card-text--title">Description:</p> 
        <p class="card-text--detail">{{ experience.start_date }} - {{ experience.end_date }}</p>
      </div>
      <div class="card-text">
        <p class="card-text--title">Dates:</p> 
        <p class="card-text--detail">{{ experience.description }}</p>
      </div>
      
      {% if experience.user.id == user.id %}
      <div class="card-links">
        <a href="{% url 'experiences_update' experience.id %}" class="link-primary">Edit</a>
        <a href="{% url 'experiences_delete' experience.id %}" class="link-danger">Delete</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  
</div>

{% endblock %}