* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625  */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  transition: 0.3s linear;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-nav-list,
.home-nav-list--spread {
  list-style: none;
  padding: 1.8rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.home-nav-list {
  justify-content: flex-start;
}

.home-nav-list--spread {
  justify-content: flex-end;
  color: #cccccc;
}

.home-nav-link:link,
.home-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}

.home-nav-link:hover,
.home-nav-link:active {
  color: rgb(221, 216, 216);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.main-title {
  font-size: 5.2rem;
  margin-bottom: 1.8rem;
  color: #fff;
}

.main-subtitle {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 4.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  background-color: #ffe8cc;
  color: #333;

  /* Only necessary for the .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
  /* Put transition on original "state" */
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color:  #f59f00;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 1.8rem;
  color: #fff;
}

.form input {
  padding: 0.7rem;
  border-radius: 5px;
  margin: 1.8rem;
  border: none;
}

.heading-primary {
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 1.8rem;
}

.form ul {
  list-style: none;
}

.form--signup p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.2rem;
}

