{% extends 'base.html'%}
{% block content %}
<br>
<br>
<br>
<h1> Education </h1>

{% for education in educations %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ education.institution }}</span>
      <p>Degree: {{ education.degree }}:{{ education.degree_description }}</p>
      <p>Graduation: {{ education.graduation }}</p>
      <p>Location: {{ education.location }}</p>
      <a href="">Edit</a>
      <a href="#">Delete</a>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ education_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Add Education">
      </form>
  </div>
  {% endfor %}
  <a href="{% url 'educations_create' %}">Add Education</a>
{% endblock %}