{% extends 'base.html'%}
{% block content %}

<h2 class="heading-primary">Education</h2>

<div class="main--container">

  <div class="form-box">
    <form class="form--new" action="{% url 'educations_create' %}" method="POST">
      {% csrf_token %}
      {{ educations_form.as_p }}
      <input type="submit" class="btn btn-primary form-btn" value="Add Education">
    </form>
  </div>
 
  {% for education in educations %}
    <div class="card-box">
      <div class="card-body">
        <div class="card-text">
          <p class="card-text--title">Institution:</p> 
          <p class="card-text--detail">{{ education.institution }}</p>
        </div>
        <div class="card-text">
          <p class="card-text--title">Degree:</p> 
          <p class="card-text--detail">{{ education.degree }}: {{ education.degree_description }}</p>
        </div>
        <div class="card-text">
          <p class="card-text--title">Graduation:</p> 
          <p class="card-text--detail">{{ education.graduation }}</p>
        </div>
        <div class="card-text">
          <p class="card-text--title">Location:</p> 
          <p class="card-text--detail">{{ education.location }}</p>
        </div>

        {% if education.user.id == user.id %}
          <div class="card-links">
            <a href="{% url 'educations_update' education.id %}" class="link-primary">Edit</a>
            <a href="{% url 'educations_delete' education.id %}" class="link-danger">Delete</a>
          </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}


</div>


{% endblock %}