{% extends 'base.html'%}
{% block content %}

<h1> Education </h1>


<form action="{% url 'educations_create' %}" method="POST">
  {% csrf_token %}
  {{ educations_form.as_p }}
  <input type="submit" class="btn btn-secondary" value="Add Education">
</form>



{% for education in educations %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ education.institution }}</span>
      <p>Degree: {{ education.degree }}:{{ education.degree_description }}</p>
      <p>Graduation: {{ education.graduation }}</p>
      <p>Location: {{ education.location }}</p>
      {% if education.user.id == user.id %}
        <a href="{% url 'educations_update' education.id %}" class="link-primary">Edit</a>
        <a href="{% url 'educations_delete' education.id %}" class="link-danger">Delete</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}

{% endblock %}