{% extends 'base.html' %}
{% block content%}
<div>


  <div class="card">
    <div class="card-content">
      {% for skill in skills %}
      <span class="card-title">{{ skill.name }}</span>
      <p>Type: {{ skill.type }}</p>
      <input type="checkbox" name="skills" value="{{ skill.name }}">
      <label for=""></label><br>
    </div>
    <div class="card-action">
      <form action="{% url 'assoc_skill' resume.id skill.id %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary" Type="submit"> ADD</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>

<div class="col s6">
  <h3>{{ resume.name }}</h3>
  <a href="{% url 'resumes_print' resume.id %}">Print</a>
  {% if resume.skills.count %}
    {% for skill in resume.skills.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ skill.name }}
            {{ skill.get_type_display }}
          </span>
        </div>
        <div class="card-action">
          <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-sm">Remove</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>No Skills</h5>
  {% endif %}
</div>









{% endblock %}