{% extends 'base.html'%}
{% block content %}

<h1> Resumes </h1>


{% for resume in resumes %}
<a href="{% url 'resumes_detail' resume.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ resume.name }}</span>
      <p>Date: {{ resume.date }}</p>
      {% if resume.user.id == user.id %}
        <a href="">Edit</a>
        <a href="">Delete</a>
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}

  <a href="{% url 'resumes_create' %}" class="btn btn-primary">Add Resume</a>
{% endblock %}