{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
  <link rel="stylesheet" href="{% static 'css/resume.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/styles_other.css' %}" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <title>Resume Architect</title>
</head>
<body class="sb-nav-fixed">
  <header>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar brand link -->
      <a class="navbar-brand ps-3" href="{% url 'home' %}">Resume Architect</a>
      <!-- Hamburger Menu Toggle -->
      <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
      </form>
      <!-- Navbar -->
      <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a></li>
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" href="{% url 'resumes_index' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        All Resumes
                    </a>
                    <div class="sb-sidenav-menu-heading">Details</div>
                    <a class="nav-link" href="{% url 'contacts_index' %}">
                      <div class="sb-nav-link-icon"></div>
                      Contact Details
                    </a>
                    <a class="nav-link" href="{% url 'educations_index' %}">
                      <div class="sb-nav-link-icon"></div>
                      Education
                    </a>
                    <a class="nav-link" href="{% url 'skills_index' %}">
                      <div class="sb-nav-link-icon"></div>
                      Skills
                    </a>
                    <a class="nav-link" href="{% url 'experiences_index' %}">
                      <div class="sb-nav-link-icon"></div>
                      Experience
                    </a>
                    <a class="nav-link" href="{% url 'projects_index' %}">
                      <div class="sb-nav-link-icon"></div>
                      Projects
                    </a>



                    <!-- these links still have drop down functionality but are not updated with our active paths -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Layouts
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Static Navigation</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                        </nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>


                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="login.html">Login</a>
                                    <a class="nav-link" href="register.html">Register</a>
                                    <a class="nav-link" href="password.html">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>                  
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {{ user.username }}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">

      <main>
        <div class="container">

					<div id="doc2" class="yui-t7">
						<div id="inner">
									
							<div id="hd">
								<div class="yui-gc">
									<div class="yui-u first">
                    {% for contact in contacts %}
										<h1>{{ contact.first_name}} {{ contact.last_name}}</h1>
										<h2>{{ contact.job_title}}</h2>
                    <h3>{{ contact.location }}</h3>
                    
									</div>

									<div class="yui-u">
										<div class="contact-info">
											<h3><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></h3>
											<h3><a href="{{ contact.linkedin }}">LinkedIn</a></h3>
											<h3><a href="{{ contact.github }}">Github</a></h3>
											<h3><a href="{{ contact.portfolio }}">Portfolio</a></h3>

                      {% endfor %}
										</div><!--// .contact-info -->
                  </div>
								</div><!--// .yui-gc -->
              </div><!--// hd -->

							<div id="bd">
								<div id="yui-main">
									<div class="yui-b">

										
<!-- 
										<div class="yui-gf">
											<div class="yui-u first">
												<h2>Switch</h2>
											</div>
											<div class="yui-u">

													<div class="talent">
														<h2>Web Design</h2>
														<p>Assertively exploit wireless initiatives rather than synergistic core competencies.	</p>
													</div>

													<div class="talent">
														<h2>Interface Design</h2>
														<p>Credibly streamline mission-critical value with multifunctional functionalities.	 </p>
													</div>

													<div class="talent">
														<h2>Project Direction</h2>
														<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
													</div>
											</div>
										</div> // .yui-gf -->

										<div class="yui-gf">
											<div class="yui-u first">
												<h2>Skills</h2>
											</div>
											<div class="yui-u">
												<ul class="talent">
																				{% for skill in skills %}     
													<li>{{ skill.name }}</li>
																					{% endfor %}
													<li class="last"></li>
												</ul>

												<ul class="talent">
													<li>Jquery</li>
													<li>PHP</li>
													<li class="last">CVS / Subversion</li>
												</ul>

												<ul class="talent">
													<li>OS X</li>
													<li>Windows XP/Vista</li>
													<li class="last">Linux</li>
												</ul>
											</div>
										</div><!--// .yui-gf-->

										<div class="yui-gf">
						
											<div class="yui-u first">
												<h2>Experience</h2>
											</div><!--// .yui-u -->

											<div class="yui-u">

                        {% for experience in experiences %}
												<div class="job">
													<h2>{{experience.workplace}}</h2>
													<h3>{{experience.job_title}}</h3>
													<h4>{{experience.start_date.year}}-{{experience.end_date.year}}</h4>
													<p>{{experience.description}}</p>
												</div>
                        {% endfor %}

												<!-- <div class="job">
													<h2>Apple Inc.</h2>
													<h3>Senior Interface Designer</h3>
													<h4>2005-2007</h4>
													<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
												</div>

												<div class="job">
													<h2>Microsoft</h2>
													<h3>Principal and Creative Lead</h3>
													<h4>2004-2005</h4>
													<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital. Energistically evisculate orthogonal architectures through covalent action items. Assertively incentivize sticky platforms without synergistic materials. </p>
												</div>


												<div class="job last">
													<h2>International Business Machines (IBM)</h2>
													<h3>Lead Web Designer</h3>
													<h4>2001-2004</h4>
													<p>Globally re-engineer cross-media schemas through viral methods of empowerment. Proactively grow long-term high-impact human capital and highly efficient innovation. Intrinsicly iterate excellent e-tailers with timely e-markets.</p>
												</div> -->

											</div><!--// .yui-u -->
										</div><!--// .yui-gf -->


										<div class="yui-gf last">
											<div class="yui-u first">
												<h2>Education</h2>
											</div>
                      {% for education in educations %}
											<div class="yui-u job">
												<h2>{{education.institution}} - {{education.location}}</h2>
												<h3>{{education.get_degree_display}} - {{education.degree_description }}</h3>
                        <h4>{{education.graduation.year}}</h4>
                      </div>
                      {% endfor %}
                      
										</div><!--// .yui-gf -->


									</div><!--// .yui-b -->
								</div><!--// yui-main -->
							</div><!--// bd -->

              <div class="yui-gf">
						
                <div class="yui-u first">
                  <h2>Projects</h2>
                </div><!--// .yui-u -->

                <div class="yui-u">

                  {% for project in projects %}
                  <div class="job">
                    <h2>{{project.name}}</h2>
                    <h3></h3>
                    <h4>{{project.date.year}}</h4>
                    <p>{{project.description}}</p>
                  </div>
                  {% endfor %}

							

						</div><!-- // inner -->


					</div><!--// doc -->

        </div>
      </main>

    </div>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <!-- <script src="assets/demo/chart-area-demo.js"></script> -->
  <!-- <script src="assets/demo/chart-bar-demo.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <!-- <script src="js/datatables-simple-demo.js"></script> -->
</body>
</html>

